<ps-header></ps-header>

<div class="container">
    <h1 class="mt-4">New Product</h1>
</div>

<div class="ps-shadow pb-4 mb-4"></div>

<div class="container">

    <form class="card" (ngSubmit)="saveNewProduct()">
        <div class="card-header">
            <b>Please enter your new product</b>
        </div>
        <div class="card-body">
            <div *ngIf="productname.invalid && (productname.dirty || productname.touched)" class="alert">
                <div *ngIf="productname.errors?.['required']">
                    Product name is required.
                </div>
                <div *ngIf="productname.errors?.['maxlength']">
                    Product name max 50 characters long.
                </div>
                <div *ngIf="productname.errors?.['minlength']">
                    Product name min 1 characters long.
                </div>
            </div>

            <div *ngIf="productID.invalid && (productID.dirty || productID.touched)" class="alert">
                <div *ngIf="productID.errors?.['required']">
                    Product id is required.
                </div>
                <div *ngIf="productID.errors?.['maxlength']">
                    Product id max 13 characters long.
                </div>
                <div *ngIf="productID.errors?.['minlength']">
                    Product id min 1 characters long.
                </div>
            </div>

            <div *ngIf="productManager.invalid && (productManager.dirty || productManager.touched)" class="alert">
                <div *ngIf="productManager.errors?.['maxlength']">
                    Product manager max 30 characters long.
                </div>
            </div>

            <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="alert">
                <div *ngIf="startDate.errors?.['required']">
                    Sales start date is required.
                </div>
                <div *ngIf="startDate.errors?.['maxlength']">
                    startDate max 10 characters long.
                </div>
            </div>
            <div class="mb-3">
                <input placeholder="Product Name" type="text" id="productname" name="productname" class="form-control" required minlength="1" maxlength="50" [(ngModel)]="product.productName" #productname="ngModel">
            </div>
            <div class="mb-3">
                <input placeholder="Product ID" type="number" id="productID" name="productID" class="form-control" required minlength="1" maxlength="13" [(ngModel)]="product.productID" #productID="ngModel">
            </div>

            <div class="mb-3">
                <input placeholder="Product Manager" type="text" id="productManager" name="productManager" class="form-control" maxlength="30" [(ngModel)]="product.productManager" #productManager="ngModel">
            </div>

            <div class="mb-3">
                <input placeholder="Sales start date" type="date" id="startdate" name="startdate" class="form-control" required="" maxlength="10" [(ngModel)]="product.startDate" #startDate="ngModel">
            </div>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary btn-lg me-4" title="Clear" (click)="resetNewProduct()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                  </svg>
            </button>
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>

    </form>


</div>

<ps-footer></ps-footer>