<ps-header></ps-header>

<div class="container">
    <h1 class="mt-4">Sales</h1>
</div>

<div class="ps-shadow pb-4 mb-4"></div>

<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let item of getColumnProduct(); let ind=index; let last=last">

                    {{ item?.header }}

                    <a *ngIf="!item?.subHeaders && !last" type="button" (click)="sort(ind, item?.field)" [ngClass]="this.directData[ind] ? 'ps-rotate' : ''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                          </svg>
                    </a>
                    <ng-container *ngIf="item?.subHeaders">
                        <table class="m-0 table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let subitem of  item?.subHeaders">
                                        {{ subitem?.header }}
                                        <a type="button" (click)="sort(ind, subitem?.field)" [ngClass]="this.directData[ind] ? 'ps-rotate' : ''">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                              </svg>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of sortedData">
                <td> {{ item?.productID }} </td>
                <td> {{ item?.productName }} </td>
                <td>
                    <table class="m-0 table table-dark">
                        <tbody>
                            <tr>
                                <td>{{ item?.salesQ1}}</td>
                                <td>{{ item?.salesQ2}}</td>
                                <td>{{ item?.salesQ3}}</td>
                                <td>{{ item?.salesQ4}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    {{ getTotal(item) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ps-footer></ps-footer>