<ps-header></ps-header>

<div class="container">
    <h1 class="mt-4">Sales</h1>
</div>

<div class="ps-shadow pb-4 mb-4"></div>

<div class="container">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let item of getColumnProduct()"> {{ item?.header }}
                    <ng-container *ngIf="item?.subHeaders">
                        <table class="m-0 table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let subitem of  item?.subHeaders"> {{ subitem?.header }}
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </ng-container>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getProduct()">
                <td> {{ item?.productID }} </td>
                <td> {{ item?.productName }} </td>
                <td>
                    <table class="m-0 table table-dark">
                        <tbody>
                            <tr>
                                <td>{{ item?.salesQ1}}</td>
                                <td>{{ item?.salesQ2}}</td>
                                <td>{{ item?.salesQ3}}</td>
                                <td>{{ item?.salesQ4}}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    {{ getTotal(item) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ps-footer></ps-footer>